<div class="mb-3">
    <div class="row">
        <div class="col">
            <div class="bg-light">
                <div>
                    <div class="card-header text-black stam-data">
                        <h6 class="mb-0" id="stam-data">
                            {{ 'visitation.basic_info'|trans }}
                        </h6>
                    </div>
                    <table class="table table-bordered">
                        <tbody class="stam-data-body">
                            {% if data.virksomhedsnavn.vaerdi is defined %}
                                <tr>
                                    <td>{{ 'visitation.name'|trans }}</td>
                                    <td>{{ data.virksomhedsnavn.vaerdi }}</td>
                                </tr>
                            {% endif %}
                            {% if data.virksomhed.CVRNummer is defined %}
                                <tr>
                                    <td>{{ 'visitation.cvr'|trans }}</td>
                                    <td id="cvrField">{{ data.virksomhed.CVRNummer }}</td>
                                </tr>
                            {% endif %}
                            {% if data.beliggenhedsadresse.adresse is not empty %}
                                <tr>
                                    <td>{{ 'visitation.address'|trans }}</td>
                                    <td>
                                        {% if data.beliggenhedsadresse.CVRAdresse_vejnavn is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_vejnavn }}
                                        {% endif %}
                                        {% if data.beliggenhedsadresse.CVRAdresse_husnummerFra is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_husnummerFra }}
                                        {% endif %}
                                        {% if data.beliggenhedsadresse.CVRAdresse_etagebetegnelse is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_etagebetegnelse }}
                                        {% endif %}
                                        {% if data.beliggenhedsadresse.CVRAdresse_doerbetegnelse is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_doerbetegnelse }},
                                        {% endif %}
                                        {% if data.beliggenhedsadresse.CVRAdresse_postnummer is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_postnummer }}
                                        {% endif %}
                                        {% if data.beliggenhedsadresse.CVRAdresse_postdistrikt is defined %}
                                            {{ data.beliggenhedsadresse.CVRAdresse_postdistrikt }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if data['e-mailadresse'].vaerdi is defined %}
                                <tr>
                                    <td>{{ 'visitation.contact'|trans }}</td>
                                    <td>{{ data['e-mailadresse'].vaerdi }}</td>
                                </tr>
                            {% endif %}
                            {% if data.virksomhedsform.vaerdi is defined %}
                                <tr>
                                    <td>{{ 'visitation.company_type'|trans }}</td>
                                    <td>{{ data.virksomhedsform.vaerdiTekst }}</td>
                                </tr>
                            {% endif %}
                            {% if data.virksomhed.status is defined %}
                                <tr>
                                    <td>{{ 'visitation.status'|trans }}</td>
                                    <td>{{ data.virksomhed.status }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    {{ 'visitation.relations'|trans }}
                                </td>
                                <td>
                                    {% for process_group in process.getProcessGroupsByAssociation(process.id) %}
                                        <li style="  list-style-type: none; /* Remove bullets */
                                        padding: 0; /* Remove padding */
                                        margin: 0; /* Remove margins */
                                        " onClick="window.open('/process/{{ process_group.processId }}');">
                                        <span style="border-bottom: 2px solid">{{ process_group.processName }}</span>
                                        </li>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
