<div class="mb-3">
    <div class="row">
        <div class="col">
            <div class="bg-light">
                <div class="col-md-3">
                    <div class="fixed-table">
                        <div class="card-header text-black stam-data">
                            <h6 class="mb-0" id="stam-data">
                                {{ 'visitation.basic_info'|trans }}
                            </h6>
                        </div>
                        <table class="table table-bordered">
                            <tbody class="stam-data-body">
                                <tr>
                                    <td>{{ 'visitation.name'|trans }}</td>
                                    <td>{{ data.Navne[0].Navn.fornavne }} {{ data.Navne[0].Navn.efternavn }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'visitation.cpr'|trans }}</td>
                                    <td class="cprField">{{ data.Personnumre[0].Personnummer.personnummer }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'visitation.address'|trans }}</td>
                                    <td>
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.vejadresseringsnavn is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.vejadresseringsnavn is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.vejadresseringsnavn }}
                                        {% endif %}
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.husnummer is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.husnummer is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.husnummer }}
                                        {% endif %}
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.etage is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.etage is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.etage }}
                                        {% endif %}
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.sidedoer is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.sidedoer is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.sidedoer }}
                                        {% endif %}
                                        <br>
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postnummer is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postnummer is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postnummer }}
                                        {% endif %}
                                        {% if data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postdistrikt is defined and data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postdistrikt is not empty %}
                                            {{ data.Adresseoplysninger[0].Adresseoplysninger.CprAdresse.postdistrikt }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ 'visitation.gender'|trans }}</td>
                                    <td>{{ data.koen }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'visitation.existing_cases'|trans }}</td>
                                    <td></td>
                                </tr>
                                {# Add more rows as needed #}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
