{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'client.show.title'|trans }}{% endblock %}

{% block content %}

    <h1 class="mt-5 title-client">{{ 'client.show.title'|trans }}</h1>

    {% if process.completedAt %}
        <div class="alert alert-warning">{{ 'process.completed_message'|trans }}</div>
    {% endif %}

    {% if canEdit %}
    <hr class="mt-2">
    <div class="row col-md-12">
        <div class="col-md-12 mb-5">
            <form method="POST" action="{{ path('client_update_info', {'process': process}) }}">
                <div class="form-group col-md-6">
                    <label for="telephone">{{ 'sidebar.client.telephone'|trans }}</label>
                    <input type="text" id="telephone" name="telephone" class="form-control" placeholder="{{ 'common.enter_phone'|trans }}"  value="{{ client.telephone ? client.telephone : '' }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="registrationNumber">{{ 'sidebar.client.plate'|trans }}</label>
                    {% if client.cars is defined and client.cars|length > 0 %}
                        <input type="text" id="registrationNumber" name="registrationNumber" class="form-control" placeholder="{{ 'common.enter_register'|trans }}" value="{{ client.cars.last().registrationNumber ? client.cars.last().registrationNumber : '' }}">
                    {% else %}
                        <input type="text" id="registrationNumber" name="registrationNumber" class="form-control" placeholder="{{ 'common.enter_register'|trans }}"  value="">
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <button type="submit" id="submit-button" class="btn btn-primary mt-4 float-right">{{ 'common.actions.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    <hr style="margin-top: -20px">

    {% endif %}
    <div class="row col-md-12">
        <div class="col-md-12 left-tables mt-2">

        <!-- Other tables aligned left -->
            {# Individual tables go here #}

            {# Adresse historik Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/adresse_historik.html.twig' with {'data': data} %}
            {# Bopælssamling Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/bopaelssamling.html.twig' %}

            {# Bolig Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/bolig.html.twig' %}

            {# Børn Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/boern.html.twig' %}

            {# Civilstatus Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/civil_status.html.twig' %}

            {# CPR historik Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/cpr_historik.html.twig' %}

            {# Navnehistorik Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/navnehistorik.html.twig' %}

            {# Statsborgerskab Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/statsborgerskab.html.twig' %}

            {# Virksomhed Table #}
            {% include '@KontrolgruppenCore/visitation/person_tables/virksomhed.html.twig' %}
        </div>
    </div>
    {# <h2>{{ 'client.sections.generel_info'|trans }}</h2>
    <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.cpr'|trans }}</span></div>
                <div class="col">{{ client.cpr }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.first_name'|trans }}</span></div>
                <div class="col">{{ client.firstName }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.last_name'|trans }}</span></div>
                <div class="col">{{ client.lastName }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.telephone'|trans }}</span></div>
                <div class="col">{{ client.telephone }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.number_of_children'|trans }}</span></div>
                <div class="col">{{ client.numberOfChildren }}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col-12 col-sm-4"><span class="text-muted">{{ 'client.table.address'|trans }}</span></div>
                <div class="col-12 col-sm-8">
                    <div class="row">
                        <div class="col-12">{{ client.address }}</div>
                        <div class="col-12">{{ client.postalCode }} {{ client.city }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>{{ 'client.sections.employment'|trans }}</h2>
    <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.receives_public_aid'|trans }}</span></div>
                <div class="col">{{ client.receivesPublicAid|yes_no }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.employed'|trans }}</span></div>
                <div class="col">{{ client.employed|yes_no }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.table.has_own_company'|trans }}</span></div>
                <div class="col">{{ client.hasOwnCompany|yes_no }}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6"></div>
    </div>
    <h2>{{ 'client.sections.transportation'|trans }}</h2>
    <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.form.has_drivers_license'|trans }}</span></div>
                <div class="col">{{ client.hasDriversLicense|yes_no }}</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-muted">{{ 'client.form.has_car'|trans }}</span></div>
                <div class="col">{{ client.hasCar|yes_no }}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <span class="text-muted">{{ 'client.table.cars'|trans }}</span>
            <ul class="list-group">
                {% for car in client.cars %}
                    <li class="list-group-item">
                        <div>{{ car.registrationNumber }}</div>
                        <div>{{ 'client.table.car.shared_ownership'|trans }}: {{ car.sharedOwnership|yes_no }}</div>
                        <div>{{ car.notes|raw }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h2>{{ 'client.sections.companies'|trans }}</h2>
    <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <ul class="list-group">
                {% for company in client.companies %}
                    <li class="list-group-item">
                        <div>{{ 'client.table.company.cvr'|trans }}: {{ company.cvr }}</div>
                        <div>{{ 'client.table.company.highlighted'|trans }}: {{ company.highlighted|yes_no }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div> #}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function debounce(func, wait) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(function() {
                    func.apply(context, args);
                }, wait);
            };
        }
        $(document).ready(function() {
            // Function to check the state of inputs and toggle the button's disabled state
            function toggleSubmitButtonState() {
                var isTelephoneEmpty = $('#telephone').val() === '';
                var isRegistrationNumberEmpty = $('#registrationNumber').val() === '';

                // If either input is empty, disable the button, else enable it
                $('#submit-button').prop('disabled', isTelephoneEmpty && isRegistrationNumberEmpty);
            }

            // Call the function to set the initial state of the button
            toggleSubmitButtonState();
            $(".btn-header").click(handleToggle);
            var handleToggle = debounce(function() {
                var btn = $(this);
                var cardHeader = btn.closest(".card-header");
                var icon = cardHeader.find('.iconClass');

                cardHeader.toggleClass("collapsed active");

                if (cardHeader.hasClass('collapsed')) {
                    icon.removeClass('fa-sort-down').addClass('fa-sort-up');
                } else {
                    icon.removeClass('fa-sort-up').addClass('fa-sort-down');
                }
            }, 300); // 300 milliseconds debounce time
            $(".btn-header").click(handleToggle);
            // Bind the input fields to the keyup event to check their state every time the user types
            $('#telephone, #registrationNumber').on('keyup', toggleSubmitButtonState);
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-button-top-left {
            position: absolute;
            top: 0;
            left: 150%;
            margin-top: 1rem; /* Adjust as needed */
            margin-left: 1rem; /* Adjust as needed */
        }
        .parent-relative {
            position: relative;
        }
        hr{
            border-top: 1px solid #000000;
        }
        .title-client{
            font-size: 25px !important;
        }
    </style>
{% endblock %}
