{% extends '@KontrolgruppenCore/process/main.html.twig' %}

{% block title %}{{ 'client.show.title'|trans }}{% endblock %}

{% block content %}
    {% if canEdit %}
        {% if is_granted('edit', client.process) %}
            {% if newClientInfoAvailable %}
                <div class="alert alert-info" role="alert">
                    {{ 'client.show.new_info_available'|trans }} <a href="{{ path('client_update', {'process': process}) }}" class="alert-link">{{ 'client.show.update_client'|trans }}</a>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <h1>{{ 'client.show.title'|trans }}</h1>

    {% if process.completedAt %}
        <div class="alert alert-warning">{{ 'process.completed_message'|trans }}</div>
    {% endif %}

    <div class="col-md-9 left-tables">
        {# Adresse historik Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/created_date.html.twig' with {'data': data} %}

        {# Bopælssamling Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/real_owners.html.twig' %}

        {# Bolig Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/registration_history.html.twig' %}

        {# Børn Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/history.html.twig' %}

        {# Civilstatus Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/p_number.html.twig' %}

        {# CPR historik Table #}
        {% include '@KontrolgruppenCore/visitation/company_tables/amount_workers.html.twig' %}
        <div class="d-flex justify-content-between">
            <div></div>
            {% if canEdit %}
                <a href="{{ path('client_edit', {'process': process.id}) }}" class="btn btn-primary float-right pl-5 pr-5">{{ 'common.actions.edit'|trans }}</a>
            {% endif %}
    </div>

    {% if canEdit %}
        <a href="{{ path('client_edit', {'process': process.id}) }}" class="btn btn-primary float-right pl-5 pr-5">{{ 'common.actions.edit'|trans }}</a>
    {% endif %}
{% endblock %}
