<div class="accordion mb-3" id="tableAccordionAdresseHistorik">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingAdresseHistorik">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header" type="button" data-toggle="collapse" data-target="#tableCollapseAdresseHistorik" aria-expanded="false" aria-controls="tableCollapseAdresseHistorik">
                    Adresse historik<i class="iconClass fas fa-sort-down"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseAdresseHistorik" class="collapse" aria-labelledby="tableHeadingAdresseHistorik" data-parent="#tableAccordionAdresseHistorik">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>Gade</th>
                            <th>Post nr og By</th>
                            <th>Kommune</th>
                            <th>Land</th>
                            <th>Dato (fra/til)</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {% for adresse in data.Adresseoplysninger %}
                        <tr>
                            <td>{{ adresse.Adresseoplysninger.CprAdresse.vejadresseringsnavn }}</td>
                            <td>{{ adresse.Adresseoplysninger.CprAdresse.postnummer }} {{ adresse.Adresseoplysninger.CprAdresse.postdistrikt }}</td>
                            <td>{{ adresse.Adresseoplysninger.CprAdresse.cprKommunenavn }}</td>
                            <td></td>
                            {% if adresse.Adresseoplysninger.virkningTil is defined %}
                                <td>{{ adresse.Adresseoplysninger.virkningFra|date("d-m-Y") }} til {{ adresse.Adresseoplysninger.virkningTil|date("d-m-Y") }} </td>
                            {% else %}
                                <td>{{ adresse.Adresseoplysninger.virkningFra|date("d-m-Y") }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
