<div class="accordion mb-3" id="tableAccordionBoern">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingBoern">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header" type="button" data-toggle="collapse" data-target="#tableCollapseBoern" aria-expanded="false" aria-controls="tableCollapseBoern">
                    {{ 'visitation.person.child'|trans }} <i class="iconClass fas fa-sort-down"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseBoern" class="collapse" aria-labelledby="tableHeadingBoern" data-parent="#tableAccordionBoern">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>{{ 'visitation.person.name'|trans }}</th>
                            <th>{{ 'visitation.person.birthday'|trans }}</th>
                            <th>{{ 'visitation.person.custody'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {% if data.Boern is defined %}
                            {% for barn in data.Boern %}
                            <tr>
                                <td>
                                    <!-- No inline onclick, add class for jQuery selector and data attribute for CPR -->
                                    <a href="#" class="child-name" data-cpr="{{ barn.Barnoplysning.Barn.barnPersonnummer }}">
                                        {% if barn.Barnoplysning.Barn.Navn.fornavne is not empty and barn.Barnoplysning.Barn.Navn.efternavn is not empty %}
                                            {{ barn.Barnoplysning.Barn.Navn.fornavne }} {{ barn.Barnoplysning.Barn.Navn.efternavn }}
                                        {% else %}
                                            {{ 'visitation.data.empty'|trans }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="cprField">{{ barn.Barnoplysning.Barn.barnPersonnummer }}</td>
                                <td>{{ 'visitation.person.unknown'|trans }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="empty-column" colspan="4">{{ "visitation.data.empty"|trans }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
