<div class="accordion mb-3" id="tableAccordionBolig">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingBolig">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header" type="button" data-toggle="collapse" data-target="#tableCollapseBolig" aria-expanded="false" aria-controls="tableCollapseBolig">
                    Bolig <i class="iconClass fas fa-sort-down"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseBolig" class="collapse" aria-labelledby="tableHeadingBolig" data-parent="#tableAccordionBolig">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>Navn</th>
                            <th>Dato (fra)</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {% if data.Statsborgerskab is defined %}
                            {% for land in data.Statsborgerskab %}
                            <tr>
                                <td>{{ land.cprlandenavn }}</td>
                                {% if land.virkningTil is defined %}
                                    <td>{{ land.virkningFra|date("d-m-Y") }} til {{ land.virkningTil|date("d-m-Y") }} </td>
                                {% else %}
                                    <td>{{ land.virkningFra|date("d-m-Y") }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="empty-column" colspan="4">{{ "visitation.data.empty" | trans}}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>