<div class="accordion mb-3" id="tableAccordionNavneHistorik">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingNavneHistorik">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header" type="button" data-toggle="collapse" data-target="#tableCollapseNavneHistorik" aria-expanded="false" aria-controls="tableCollapseNavneHistorik">
                    Navne historik <i class="fa fa-chevron-down float-right" aria-hidden="true"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseNavneHistorik" class="collapse" aria-labelledby="tableHeadingNavneHistorik" data-parent="#tableAccordionNavneHistorik">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>Navn</th>
                            <th>Dato (fra/til)</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {# Loop through the data for this table if applicable. Otherwise, statically add rows. #}
                        <tr>
                            {# <td>{{ data.Person.Adresseoplysninger[0].SimpelAdresse.adresselinie1 }}</td> #}
                            {# <td>{{ data.adresse_historik.post_nr_og_by }}</td>
                            <td>{{ data.adresse_historik.kommune }}</td>
                            <td>{{ data.adresse_historik.land }}</td>
                            <td>{{ data.adresse_historik.dato_fra_til }}</td> #}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
