<div class="accordion mb-3" id="tableAccordionAmountWorkers">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingAmountWorkers">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header " type="button" data-toggle="collapse" data-target="#tableCollapseAmountWorkers" aria-expanded="false" aria-controls="tableCollapseAmountWorkers">
                    {{ 'visitation.company.employees_count'|trans }} <i class="iconClass fas fa-sort-down"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseAmountWorkers" class="collapse" aria-labelledby="tableHeadingAmountWorkers" data-parent="#tableAccordionAmountWorkers">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered">
                    <thead class="data-header">
                        <tr>
                            <th>{{ 'visitation.company.period'|trans }}</th>
                            <th>{{ 'visitation.company.workers'|trans }}</th>
                            <th>{{ 'visitation.company.annual_work'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {# Loop through the data for this table if applicable. Otherwise, statically add rows. #}
                        {% if data.beskaeftigelse is defined %}
                            {% set current_date = "now"|date("Y-m-d") %}
                            {% set five_years_ago = current_date|date_modify("-5 years")|date("Y-m-d") %}
                            {% set combined_data = {} %}
                            {% for beskaeftigelse in data.beskaeftigelse %}
                                {% if beskaeftigelse.beskaeftigelsestalstype in ['KvartalsbeskaeftigelseAntalAarsvaerk', 'KvartalsbeskaeftigelseAntalAarsvaerkInterval'] %}
                                {% set date_range = beskaeftigelse.datoFra ~ ' to ' ~ beskaeftigelse.datoTil %}

                                {# Check if this date range is already in the combined_data #}
                                {% set entry = combined_data[date_range] is defined ? combined_data[date_range] : {
                                    'datoFra': beskaeftigelse.datoFra,
                                    'datoTil': beskaeftigelse.datoTil,
                                    'antal': null,
                                    'intervalFra': null,
                                    'intervalTil': null
                                } %}

                                {# Populate the entry based on the type of data #}
                                    {% if beskaeftigelse.beskaeftigelsestalstype == 'KvartalsbeskaeftigelseAntalAarsvaerk' %}
                                        {# Set 'antal' for this date_range #}
                                        {% set entry = entry|merge({'antal': beskaeftigelse.antal}) %}

                                    {% elseif beskaeftigelse.beskaeftigelsestalstype == 'KvartalsbeskaeftigelseAntalAarsvaerkInterval' %}
                                        {# Set 'intervalFra' and 'intervalTil' for this date_range #}
                                        {% set entry = entry|merge({
                                            'intervalFra': beskaeftigelse.intervalFra,
                                            'intervalTil': beskaeftigelse.intervalTil
                                        }) %}
                                    {% endif %}
                                    {% set combined_data = combined_data|merge({(date_range): entry}) %}

                                {% endif %}
                            {% endfor %}
                            {# Extract keys from your hash and sort them #}
                            {% set keys = combined_data|keys %}
                            {% set sorted_keys = keys|sort((a, b) => combined_data[b].datoFra <=> combined_data[a].datoFra) %}

                            {# Iterate over the sorted keys to access the sorted values #}
                            {% for key in sorted_keys %}
                                {% set data = combined_data[key] %}
                                <tr{{ data.datoFra < five_years_ago ? ' class="older-than-5"' }}>
                                    <td>{{ data.datoFra|date("d-m-Y") }}-{{ data.datoTil|date("d-m-Y") }}</td>
                                    <td>{{ data.antal }} {{ 'visitation.company.employees'|trans }}</td>
                                    <td>{{ data.intervalFra }}-{{ data.intervalTil }} {{ 'visitation.company.annual_work_employees'|trans }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="empty-column" colspan="4">{{ "visitation.data.empty"|trans }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tr>
                        <td colspan="5" class="text-center">
                            <button class="btn btn-primary text-center show-history">{{ 'visitation.get_history'|trans }}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
