<div class="accordion mb-3" id="tableAccordionVirksomhed">
    <div class="card">
        <div class="card-header text-black" id="tableHeadingVirksomhed">
            <h2 class="mb-0">
                <button class="btn btn-block text-left text-black collapsed btn-header " type="button" data-toggle="collapse" data-target="#tableCollapseVirksomhedRegHistory" aria-expanded="false" aria-controls="tableCollapseVirksomhedRegHistory">
                    Registrations Historik <i class="fa fa-chevron-down float-right" aria-hidden="true"></i>
                </button>
            </h2>
        </div>
        <div id="tableCollapseVirksomhedRegHistory" class="collapse" aria-labelledby="tableHeadingVirksomhed" data-parent="#tableAccordionVirksomhed">
            <div class="card-body p-0">
                <table class="table mb-0 table-bordered bg-info">
                    <thead class="data-header">
                        <tr>
                            <th>Legale ejere</th>
                            <th>Reele ejere</th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        {# Loop through the data for this table if applicable. Otherwise, statically add rows. #}
                        <tr>
                            {# <td>{{ data.Adresseoplysninger[0].SimpelAdresse.adresselinie1 }}</td> #}
                            {# <td>{{ data.adresse_historik.post_nr_og_by }}</td>
                            <td>{{ data.adresse_historik.kommune }}</td>
                            <td>{{ data.adresse_historik.land }}</td>
                            <td>{{ data.adresse_historik.dato_fra_til }}</td> #}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>