{% extends '@KontrolgruppenCore/main/index.html.twig' %}

{% block title %}{{ 'visitation.investigate.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'visitation.investigate.title'|trans }}</h1>

            <!-- Other tables aligned left -->
            <div class="left-tables">
                {# Individual tables go here #}

                {# Adresse historik Table #}
                {% include '@KontrolgruppenCore/visitation/tables/adresse_historik.html.twig' %}

                {# Bopælssamling Table #}
                {% include '@KontrolgruppenCore/visitation/tables/bopaelssamling.html.twig' %}

                {# Bolig Table #}
                {% include '@KontrolgruppenCore/visitation/tables/bolig.html.twig' %}

                {# Børn Table #}
                {% include '@KontrolgruppenCore/visitation/tables/boern.html.twig' %}

                {# Civilstatus Table #}
                {% include '@KontrolgruppenCore/visitation/tables/civil_status.html.twig' %}

                {# CPR historik Table #}
                {% include '@KontrolgruppenCore/visitation/tables/cpr_historik.html.twig' %}

                {# Navnehistorik Table #}
                {% include '@KontrolgruppenCore/visitation/tables/navnehistorik.html.twig' %}

                {# Statsborgerskab Table #}
                {% include '@KontrolgruppenCore/visitation/tables/statsborgerskab.html.twig' %}

                {# Virksomhed Table #}
                {% include '@KontrolgruppenCore/visitation/tables/virksomhed.html.twig' %}
            </div>
        </div>

        <!-- Stamdata Table aligned right -->
        <div class="col-md-6">
            <div class="fixed-table">
                <div class="card-header bg-primary text-black">
                    <h2 class="mb-0">
                        Stamdata
                    </h2>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Navn</td>
                            <td>{{ data.Person.Navne[0].Navn.fornavne }} {{ data.Person.Navne[0].Navn.efternavn }}</td>
                        </tr>
                        <tr>
                            <td>CPR</td>
                            <td>{{ data.Person.Personnumre[0].Personnummer.personnummer }}</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{ data.Person.Adresseoplysninger[0].Adresseoplysninger.SupplerendeAdresse.SimpelAdresse.adresselinie1 }} {{ data.Person.Navne[0].Navn.efternavn }}</td>
                        </tr>
                        <tr>
                            <td>Køn</td>
                            <td>{{ data.Person.koen }}</td>
                        </tr>
                        <tr>
                            <td>Eksisterende sager</td>
                            <td></td>
                        </tr>
                        {# Add more rows as needed #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .fixed-table {
            position: fixed;
            top: 120px;
            right: 30px;
            width: calc(50% - 200px); /* Adjust based on your needs */
            z-index: 999;
        }
        .left-tables {
            max-width: 600px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.accordion .card-header').click(function() {
                $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
            });
        });
    </script>
{% endblock %}
